<!DOCTYPE html>
<html data-ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/jquery-2.1.0.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/performance-detect.js"></script>
</head>
<body data-ng-controller="myController">
<div data-show-watcher-scope></div>
<h1>{{myName}}</h1>
<ul>
    <li data-ng-repeat="item in list">{{item.id}}<input data-ng-model="item.name"></li>
</ul>
</body>
<script>
    var myApp = angular.module('myApp', ['performance.detect']);
    myApp.controller('myController', ['$scope', function ($scope) {
        $scope.myName = 'Jackey';
        $scope.list = [
            {
                id: 1,
                name: 'Jackey'
            },
            {
                id: 2,
                name: 'Jackey'
            },
            {
                id: 3,
                name: 'Jackey'
            }
        ];
    }]);
</script>
</html>